@model OrderViewModel
@{
	ViewData["Title"] = "Buy";
	decimal? total = Model.Order.Sum(o => o.Product.UnitPrice * o.Amount);
}

<link rel="stylesheet" href="~/css/buy.css" />

<h1>Order</h1>
<table class="table table-striped">
	<tr class="">
		<th>Product Name</th>
		<th>Quantity</th>
		<th>Cost</th>
		<th>Total</th>
	</tr>
	@foreach (var o in Model.Order)
	{
		<tr class="">
			<td>@o.Product.ProductName</td>
			<td>@o.Amount</td>
			<td>@($"{o.Product.UnitPrice:C}")</td>
			<td>@($"{o.Product.UnitPrice * o.Amount:C}")</td>
		</tr>
	}
</table>
<p class="total"><b>Total:</b> @($"{total:C}")</p>
<a class="btn btn-success" asp-area="" asp-controller="Order" asp-action="Confirm">Confirm Order</a>